# Discord
DISCORD_TOKEN=
APPLICATION_ID=
PUBLIC_KEY=
GUILD_ID=
ADMIN_ID=
MAIN_CHANNEL_ID=
LORE_CHANNEL_ID=

# Gameplay
SHINY_RATE=256
COOLDOWN=30
PITY_THRESHOLD=10
POKEMON_PER_PAGE=20
BUTTON_TIMEOUT=120000
GENERATION_NUMBER=2

# Raid
RAID_SCHEDULER_MODE=debug
RAID_ANNOUNCE_CHANNEL_ID=
RAID_NEXT_ZONE_CHANCE=60
RAID_START_HOUR=00 12 * * *
RAID_END_HOUR=00 20 * * *

# Pokemon list generation
# EXTRA_POKEMON_FILES=othermons.json