DISCORD_TOKEN={TOKEN}
APPLICATION_ID={APPLICATION_ID}
PUBLIC_KEY={PUBLIC_KEY}
GUILD_ID={GUILD_ID}
SHINY_RATE=256
COOLDOWN=30
POKEMON_PER_PAGE=20
BUTTON_TIMEOUT=120000
PITY_THRESHOLD=10
GENERATION_NUMBER=2
ADMIN_ID={ADMIN_ID}
RAID_NEXT_ZONE_CHANCE=60
RAID_SCHEDULER_MODE=production
RAID_ANNOUNCE_CHANNEL_ID={RAID_ANNOUNCE_CHANNEL_ID}
LORE_CHANNEL_ID={LORE_CHANNEL_ID}
RAID_START_HOUR=00 12 * * *
RAID_END_HOUR=00 20 * * *